body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    height: 80px;
    width: 100%;

    background-color: #ffffff;

    border-bottom: 1px solid #00000020;
}

header h1 {
    margin: 0;
}
